@using Sra.P2rmis.CrossCuttingServices
@using Sra.P2rmis.Bll
@model Sra.P2rmis.Web.UI.Models.ExpertiseCoiViewModel

<link href="/Scripts/jquery-custom-modal/css/jquery-custom-modal.css" rel="stylesheet" type="text/css">
@{
    string displayCoi = "";
    displayCoi = (Model.AssignmentTypeId == LookupService.LookupAssignmentTypeIdCoi) ? "" : "disabled";
    string reviewerHasWorkflowMessage = Sra.P2rmis.Web.Common.Message.ReviewerHasWorkflowMessage;
    string assignReviewerToCoiMessage = Sra.P2rmis.Web.Common.Message.AssignSelfToCoiMessage;
    string applicationTitle = (Model.ApplicationInfo.Title.Length <= 55) ? Model.ApplicationInfo.Title : Model.ApplicationInfo.Title.Substring(0, 50) + "...";
}
<div id="updateAssignment" tabindex="-1" class="row-fluid mw-coi-modal">
    @Html.HiddenFor(x => x.PanelApplicationId, Model.PanelApplicationId)
    @Html.HiddenFor(x => x.PanelUserAssignmentId, Model.PanelUserAssignmentId)
    <label for="AssignmentList" class="sr-only"></label>
    @Html.DropDownListFor(m => m.ClientAssignmentTypeId, new SelectList(@Model.ClientAssignmentTypeList, "ClientAssignmentTypeId", "ClientAssignmentTypeAbbreviation"), "UnAssign", new { @id = "AssignmentList", @class = "hide" })
    <div id="failureMessage" class="margin-bottom-10" role="alert"></div>
    <div class="mw-coi-modal_info-filters">
        <div class="mw-coi-modal_info-filters_title">Assignment Information</div>
        <table class="mw-coi-modal_table">
            <tr>
                <td class="mw-coi-modal_table_app-container"><div class="mw-coi-modal_table_app-container_panel-title">Panel:</div><div class="mw-coi-modal_table_app-container_result">@Model.ApplicationInfo.ProgramAbbreviation @Model.ApplicationInfo.FiscalYear @Model.ApplicationInfo.PanelAbbreviation</div></td>
                <td class="mw-coi-modal_table_app-container"><div class="mw-coi-modal_table_app-container_award-title">Award:</div><div class="mw-coi-modal_table_app-container_result">@Model.ApplicationInfo.AwardMechanism</div></td>
            </tr>
            <tr>
                <td class="mw-coi-modal_table_app-container" colspan="2"><div class="mw-coi-modal_table_app-container_app-title">Application Title:</div><div class="mw-coi-modal_table_app-container_app-result" title="@applicationTitle">@applicationTitle</div></td>
            </tr>
            <tr>
                <td class="mw-coi-modal_table_app-container" colspan="2"><div class="mw-coi-modal_table_app-container_app-title">PI:</div><div class="mw-coi-modal_table_app-container_pi-result" title="@Model.ReviewerNameAndOrganization">@Model.ReviewerNameAndOrganization</div></td>
            </tr>
        </table>
    </div>
    <div class="mw-coi-modal_link-filters">
        <div class="mw-coi-modal_link-filters_title">Files</div>
        <table class="mw-coi-modal_table">
            <tr>
                <td class="mw-coi-modal_link-filters_table_files">
                    <a href="@Url.Action("GetAbstractFile", "SummaryStatement", new {applicationId = Model.ApplicationInfo.ApplicationId, logNumber = Model.ApplicationInfo.LogNumber})" id="viewAbstract" target="_blank" style="display: inline-block;margin-left: 20px;font-size: 12px;font-weight: bold;color: #006dcc;">View Abstract</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="mw-coi-modal_pre-post-filters">
        <p class="mw-coi-modal_form-filters_info"><em>Please select an Expertise level OR Conflict of Interest (COI)</em></p>
        <div id="coiDiv">
            <div class="mw-coi-modal_form-filters_coi-div">
                <div class="mw-coi-modal_form-filters_coi-div_row">
                    <div class="mw-coi-modal_form-filters_title" id="expertiseCOITitle">Expertise</div>@Html.DropDownListFor(m => m.ClientExpertiseRatingId, new SelectList(@Model.ClientExpertiseRatingList, "ClientExpertiseRatingId", "ClientExpertiseRatingAbbreviation"), "Select", new { @id = "ExpertiseList", @class = "mw-coi-modal_form-filters_coi-div_select", title = "Expertise Level COI Declaration" })
                    <div class="alignRight" style="margin-right: 10px;">
                        <input type="checkbox" id="coiCheckBox" class="padding-left-5 margin-bottom-5" />
                        <label for="coiCheckBox" class="upm-profile-section-sub_field">Conflict of Interest (COI)</label>
                    </div>

                </div>
                <div class="mw-coi-modal_form-filters_coi-div_row" id="divCoiType">
                    <div class="mw-coi-modal_form-filters_coi-div_required">*</div><div class="mw-coi-modal_form-filters_title">COI Type</div> @Html.DropDownListFor(m => m.ClientCoiTypeId, new SelectList(@Model.ClientCoiList, "ClientCoiTypeId", "CoiTypeDescription"), "Select", new { @class = "mw-coi-modal_form-filters_coi-div_select required", title = "COI Type", required = "required", disabled = displayCoi, style = "color: black" })
                </div>
                <div class="mw-coi-modal_form-filters_coi-div_row-none" id="divComment">
                    <div class="mw-coi-modal_form-filters_coi-div_required">*</div><div class="mw-coi-modal_form-filters_title">Comment</div> <div class="mw-coi-modal_form-filters_coi-div_row-none_max" required="required">(Max of 250 characters)</div>
                </div>
                @Html.TextAreaFor(m => m.Comment, new { @rows = "4", @class = "mw-coi-modal_pre-post-filters_coi-div_textarea", maxlength = "250", title = "Comment", disabled = displayCoi })
            </div>
        </div>
    </div>
    <div class="mw-coi-modal_instructions">
        <div class="mw-coi-modal_instructions_title">Instructions</div>
        <div class="mw-coi-modal_instructions_container">
            <div class="mw-coi-modal_instructions_title_inner">COI</div>
            <div class="mw-coi-modal_instructions_container_text">Please check the information of Principal Investigator(s), collaborator(s), and their organizations to determine if you have a conflict of interest (COI) reviewing this application. If you do, select COI and a COI category from the drop-down list, and enter a brief explanation of the nature of the COI in the textbox.</div>
            <div class="mw-coi-modal_instructions_title_inner">Expertise</div>
            <div class="mw-coi-modal_instructions_container_text">Please assess your expertise level (High, Medium, Low, or None) for this application based on the information provided in the abstracts. Please note that expertise level is an indication of the extent of your knowledge and is not a reflection of your willingness to review an application.</div>
            <ul>
                <li>
                    <div class="mw-coi-modal_instructions_title_inner">High</div>
                    <div class="mw-coi-modal_instructions_container_text">Means you are able to review the application with little or no need to make use of background material or the relevant literature. You have likely published in areas closely related to the science/topics presented in the application.</div>
                </li>
                <li>
                    <div class="mw-coi-modal_instructions_title_inner">Medium</div>
                    <div class="mw-coi-modal_instructions_container_text">Means you have most of the knowledge to review the application although it would require some review of relevant literature to fill in details or increase familiarity with the system employed. You may employ similar methodologies in your own work, or study similar molecules, processes, and/or topics, but may need to review the literature for recent advances pertinent to the application.</div>
                </li>
                <li>
                    <div class="mw-coi-modal_instructions_title_inner">Low</div>
                    <div class="mw-coi-modal_instructions_container_text">Means you understand the broad concepts, but are unfamiliar with the specific system or other details, and reviewing the application would require considerable preparation.</div>
                </li>
                <li>
                    <div class="mw-coi-modal_instructions_title_inner">None</div>
                    <div class="mw-coi-modal_instructions_container_text">Means you have only superficial or no familiarity with the concepts and systems described in the application.</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mw-coi-modal_grid">
        @if (!Model.ApplicationInfo.Blinded)
        {
            <div class="mw-coi-modal_grid_title">Application Collaborators or COI Identified by the PI</div>
            <div id="gridCOI"></div>
        }
    </div>
</div>
<input type="hidden" id="clientAssignmentTypeId" value="@Model.ClientAssignmentTypeId" />
<input type="hidden" id="coiExpertiseRatingId" value="@Model.CurrSessionCoiExpertiseRatingId" />

<script type="text/javascript">
    var coiText = 'COI';
    //
    // Hides the coiDiv and clears all fields
    // within the div
    //
    function fnHideCoiDiv(isHide) {
        if (isHide) {
           $("#divComment, #Comment").hide();
           $('#divCoiType').hide();
        }
        else {
           $("#divComment, #Comment").show();
           $('#divCoiType').show();
        }
    };

    $(document).ready(function () {
        $('.modal-footer').empty();
        $(".modal-footer").append(p2rims.modalFramework.defaultModalFooters.cancelSaveCOIFooter);
        // Remove margin from margin dialog that is being inherited from myWorkspace.css (this is a special case)
        $(".modal-dialog").css("margin-bottom", "0px");
        // Remove margin from margin-footer that is being inherited from myWorkspace.css (this is a special case)
        $(".modal-footer").css("margin", "0px");

        if ($("#AssignmentList option:selected").text() == coiText) {
           //disable expertise dropdown
            $("#ExpertiseList").attr('disabled', true);
            //enable coi type dropdown and comments
            $("#ClientCoiTypeId, #Comment").removeAttr('disabled').removeClass('input-validation-error');
            $('#coiCheckBox').prop('checked', true);
            fnHideCoiDiv(false);
        } else {
            fnHideCoiDiv(true);
        }

    });
    $("#gridCOI").kendoGrid({
        pageable: false,
        resizable: true,
        navigatable: true,
        batch: true,
        toolbar: ["create"],
        columns: [
            { field: "Name", filterable: false, title: "Name", width: "160px", template: "<div>${LastName}, ${FirstName}</div>" },
            { field: "Organization", filterable: false, title: "Organization", width: "300px" },
            { field: "CoiType", filterable: false, title: "Role", width: "150px" },
            { field: "CoiSource", filterable: false, title: "Source" },
        ],
        filterable: {
            extra: false,
            operators: {
                string: {
                    startswith: "Starts with",
                    eq: "Is equal to",
                    neq: "Is not equal to"
                }
            }
        },
        editable: false,
        scrollable: true,
        groupable: true,
        sortable: true,
        dataBound: function (e) {
        },
    });

    // This is where we added the same toolbar thats on the bottom of the grid to the top

    $('#grid th a:nth-child(1)').addClass('alignCenter');
    $('#grid .k-grid-header th:nth-child(14) .k-icon').css('margin-top', '17px');
</script>

<script type="text/javascript">
    $("#viewApplicationCollaborators").tablesorter();
</script>

@*script for performing the save/cancel functionality*@
<script type="text/javascript">

//functions for hiding/showing coi and presentation order content
var readerText = 'RR';
//functions to perform on change of expertise dropdown selection
    $('#ExpertiseList').change(function () {
        var selectText = $("#ExpertiseList option:selected").text();
        $("#ClientCoiTypeId, #Comment").attr('disabled', 'disabled').removeClass('input-validation-error');
        fnHideCoiDiv(true);
        //if assignment list option selected is COI
        if ($("#AssignmentList option:selected").text() == coiText) {
                $("#AssignmentList").val("");
        }
        (selectText == "Select") ? $('#ExpertiseList').addClass('input-validation-error') : $('#ExpertiseList').removeClass('input-validation-error');

    });

    $('#coiCheckBox').click(function () {
        var isCoi = $('#coiCheckBox').is(':checked');
        $('#failureMessage').text('');
       if (isCoi) {
           //set assignment list selected value to COI
            $("#ExpertiseList option").eq(0).prop('selected', true);
            $("#AssignmentList").val("");
            $("#AssignmentList option").filter(function () {
                return this.text == coiText;
            }).attr('selected', true);
            // disable expertise list
            $('#ExpertiseList').attr('disabled', 'disabled').removeClass('input-validation-error');
            //enable coi type dropdown and comments
            $("#ClientCoiTypeId, #Comment").removeAttr('disabled').removeClass('input-validation-error');
            fnHideCoiDiv(false);

        }
        else {
            fnHideCoiDiv(true);
            // enable expertise list
           $('#ExpertiseList').removeAttr('disabled');          
           $("#AssignmentList option").filter(function () {
                return this.text == "UnAssign";
            }).attr('selected', true);

        }

    });
 
var reviewerHasWorkflowMessageOne = "@reviewerHasWorkflowMessage";
var updatingCoiMessageTwo = "@assignReviewerToCoiMessage";
</script>
