@model Sra.P2rmis.Web.UI.Models.EditSummaryStatementViewModel
@{
    string backLink = Sra.P2rmis.Web.UI.Models.ProcessingTabsViewModel.Tab2Link;
}

<input type="hidden" id="WorkflowId" value="@Model.ApplicationDetails.WorkflowId" />
<input type="hidden" id="ApplicationId" value="@Model.ApplicationDetails.LogNumber" />
<div id="WorkflowHistoryAssignAndSaveNotes">
    <div class="workflowHistory">
        <div align="left"><a href="@backLink"><< Back to Overview</a></div>
        <h4>@Model.ApplicationDetails.LogNumber</h4>
        <table align="center">
            <tr>
                @{
                    string idClass = "";
                    bool before = true;
                    string bold = "";
                    int index = 1;
                }
                @foreach (var item in Model.TheWorkflow)
                {
                    if (item.ApplicationWorkflowStepId == Model.ActiveWorkflowStep)
                    {
                        idClass = "active";
                        before = false;
                        bold = "font-weight: bold;";
                    }
                    else if (before == false)
                    {
                        idClass = "future";
                    }
                    else
                    {
                        idClass = "previous";
                    }
                    <td id="@idClass" style="@bold">@index</td>
                    idClass = "";
                    bold = "";
                    index++;
                }
            </tr>
            <tr>
                @{string bold1 = "";}
                @foreach (var item in Model.TheWorkflow)
                {
                    if (item.ApplicationWorkflowStepId == Model.ActiveWorkflowStep) { bold1 = "font-weight: bold;"; }
                    <td style="@bold1">@item.StepName</td>
                    bold1 = "";
                }
            </tr>
        </table>
    </div>
    <div style="padding-top: 10px;">
        <table style="width: 100%;">
            <tr>
                @if (Model.HasManagePermission && Model.PreviousWorkflowSteps != null && Model.PreviousWorkflowSteps.Count > 0)
                {
                    <td>
                        <div>
                            Pick a Previous
                            <select id="PreviousWorkflowStep" class="autoMargin">
                                @foreach (var item in Model.PreviousWorkflowSteps)
                                {
                                    <option value="@item.Key" selected="@(item.Equals(Model.PreviousWorkflowSteps.Last()) ? "selected" : "")">@item.Value</option>
                                }
                            </select>
                            <button id="AssignWorkflowStep" class="btn" type="button" value="">Assign</button>
                        </div>
                    </td>
                }
                <td style="text-align: right;">
                    <div class="input-append">
                        <input id="AdminNote" class="input-xxlarge" type="text" placeholder="Admin Notes Here"/>
                        <button id="SaveAdminNote" class="btn" type="submit" value="">Save</button>
                    </div>
                    <div id="SaveAdminNoteStatus" style="color: red;float: right;"></div>
                </td>
            </tr>
        </table>
        <hr />
    </div>
</div>

@*script for ajax calls to assign a previous workflow step*@
<script type="text/javascript">
    $('body').on('click', '#AssignWorkflowStep', function () {
        var workflowId = $("#WorkflowId").val();
        var workflowStepId = $("#PreviousWorkflowStep").val();
        $.get('@Url.Action("AssignWorkflow")', { workflowId: workflowId, workflowStepId: workflowStepId },
                    function (responseText, textStatus, XMLHttpRequest) {
                        $("#WorkflowHistoryAssignAndSaveNotes").html(responseText);
                    }
                ).fail(function () {
                    alert("Sorry, there was a problem processing your request.");
                });
    });
</script>
@*script for ajax calls to assign a previous workflow step*@
<script type="text/javascript">
    $('body').on('click', '#SaveAdminNote', function () {
        var comment = $.trim($("#AdminNote").val());
        var applicationId = $("#ApplicationId").val();
        if (comment) {
            $.ajax({
                cache: false,
                url: '@Url.Action("AddComment")',
                data: { "comment": comment, "applicationId": applicationId }
            }).done(function (data) {
                var oSaveResult = $('#SaveAdminNoteStatus');
                oSaveResult.text(data);
                setTimeout(function () { oSaveResult.text(""); }, 2000);
                $("#AdminNote").val("");
            }).fail(function (xhr, ajaxOptions, thrownError) {
                alert("Sorry, there was a problem processing your request.");
            });
        };
    });
</script>
